:root {
  --primary-text-color: #212121;
  --description-text-color: #757575;
}

body {
  background-color: #e5e5e5;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==============Компоненти============== */
.logo {
  color: #2196f3;
}

.main {
  background-color: #d8d2d2;
}
/*============= Шапка сайта ==============*/

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.address-one {
}
/*================ Герой ================*/
.hero-title {
  color: #2196f3;
}
.modal-btn {
}

/*============== Преимущества =============*/
.title-hidden {
  color: #a79f9f;
}

.benefits-list-item .suptitle {
  color: #212121;
}

.benefits-list-item .description {
  color: #757575;
}
/*============== Примери робот =============*/
.title-work-examples {
  color: #212121;
}

/*================= Команда ================*/
.title-our-team {
  color: #212121;
}

.team-suptitle {
  color: #212121;
}

.team-description {
  color: #757575;
}
/*================= Подвал ================*/
.address-two-item {
  color: #000000;
}
.address-two .address-two-item-one {
  color: rgba(255, 255, 255, 0.6);
}
