:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*============КОМПОНЕНТИ===========*/

/*Кнопка*/
.modal-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.modal-btn.primary {
  color: #ffffff;
  background-color: #2196f3;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.modal-button {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.modal-button.primary {
  color: #212121;
  background-color: #f5f4fa;
}

.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
/*Кнопка конец*/

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.suptitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;




/*=========КОНЕЦ КОМПОНЕНТИ=======*/

/*==============ШАПКА=============*/

.menu-link  {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link .link.current {
  color: var(--accent-color);
}
.address-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/*===========КОНЕЦ ШАПКА=============*/

/*==============ГЕРОИ===============*/

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*===========КОНЕЦ ГЕРОИ===========*/

/*=============ПОДВАЛ==============*/

.address-two-about {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: ;
}

/*==========КОНЕЦ ПОДВАЛ===========*/
.about-img-list-img {
}
